@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #0e1538;
}
.title{
    margin: 50px 0;
    text-align: center;
}
h1{
    font-size: 48px;
    color: #fff;
}
h3{
    font-size: 28px;
    color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card{
    position: relative;
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container a{
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 70px;
    transition: 1s;
    text-decoration: none;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0004);
}
.container a:hover{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 160px var(--clr),
    0 0 100px var(--clr);
}
.container a::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 400%;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}
.container a:hover::before{
    width: 120%;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.container a::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #0e1538;
    transition: 0.5s;
}
.container a:hover::after{
    background: var(--clr);
}

.container a span{
    position: relative;
    z-index: 1;
    font-size: 2em;
    color: #fff;
    opacity: 0.5;
    letter-spacing: 4px;
    transition: 0.5s;
}

.container a:hover span{
    opacity: 1;
}





/* top_container */
.container1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.container1 a{
    position: relative;
    display: block;
    margin: 20px 0;
    padding: 10px 30px;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    background: #3f51b5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.container1 a:hover{
    background: #e91e63;
}

.container1 a::before{
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
}

.container1 a:nth-child(1):before{
    transform-origin: right;
    transform: scaleX(0);
}
.container1 a:hover:nth-child(1):before{
    transform-origin: left;
    transform: scaleX(1);
}

.container1 a:nth-child(2):before{
    transform-origin: bottom;
    transform: scaleY(0);
}
.container1 a:hover:nth-child(2):before{
    transform-origin: top;
    transform: scaleY(1);
}

.container1 a:nth-child(3):before{
    transform-origin: left;
    transform: scaleY(0);
}
.container1 a:hover:nth-child(3):before{
    transform-origin: right;
    transform: scaleY(1);
}




.container1 a::after{
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    z-index: -1;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.container1 a:hover::after{
    top: -8px;
    left: -8px;
}
