/* * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 470px;
    position: relative;
    margin: auto;
    filter:grayscale(50%);
    border-radius:4px;
    margin:32px 0;
    float:left;
  } 
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .mySlides img{box-shadow:3px 3px 12px gray;padding:3px}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(119, 119, 119, 0.8);
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(161, 159, 159);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 15px;
  }
  
  #Data .active,#Data .dot:hover {
    background-color: #505050;
  }
  
  /* Fading animation */
  /* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } */
  