


/* horse_tabs */
.myLink {display: none}
#horse{position:relative}
#horse .jumbo{width: 200px;font-size:70px;color: rgb(255, 255, 255);font-family: 'Dancing Script';margin-top: 50px;padding-left:500px ;}
.tabs .white{color:rgb(255, 255, 255)!important;background-color:rgb(175, 163, 163)!important;opacity:0.75}
.tabs .container{margin-top: 20px;height: 350px;}
.tabs h2{color: #ffffff;margin-top: 40px;font-size: 35px;font-family: 'Caveat Brush';}


/* Colors */

/* footer */
.black,.hover-black:hover{color:#fff!important;background-color:rgb(34, 34, 34)!important;height: 50px;font-family: 'Caveat Brush';}
#footer a{color: rgb(255, 255, 255);font-family: 'Caveat Brush';}







/*---------------------------------------------------------------------------------*/












