/* ---------- font_family ---------- */
@font-face {
  font-family: setofont;
  src: url(../font/setofont.woff) format("woff"), /* Modern Browsers */
        url(../font/setofont.ttf) format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: setofont;
  src: url(../font/I.Ngaan.woff) format("woff"), /* Modern Browsers */
        url(../font/I.Ngaan.ttf) format("truetype"); /* Safari, Android, iOS */
}


/* ---------- bar ---------- */
.button{border:none;display:inline-block;vertical-align:middle;overflow:hidden;background-color:inherit;cursor:pointer}
.bar.white{color:rgb(255, 255, 255)!important;}
.button:hover{color:rgb(255, 255, 255)!important;}
.bar .bar-item{padding:25px 30px;float:left;width:auto;border:none;display:block;outline:0;font-family: "Dancing Script";font-weight: bold;text-decoration:none;}
.bar_center{float: right;}
.button:hover>.bar-button{ box-shadow: 0 3px 0 0 rgb(45, 124, 243);padding-bottom:15px;color: rgb(255, 255, 255);transition: all 0.35s ease-in-out;}
.bottom{position:fixed;width:100%;background-color:none;z-index: 1;}.bottom{top:0} /*顯示在最上面*/
.opacity-min{opacity:0.8;z-index: 0;}
.bar_img{float: left;width: 45px;margin-left: 35px;margin-top: 10px;clear: both;}



/* ---------- Home ---------- */
#page-1 h1{font-family: "Rock Salt";font-size: 45px;}
#page-1 a{font-family: "Lobster";}
#page-1 p{font-family: "setofont";font-size: 25px;}

/* more */
.container .button1 {
  background-color: #b2b3b4;
  border: none;
  color: rgb(97, 96, 96);
  padding: 10px 90px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  /* margin-left: 1030px; */
  /* vertical-align:middle; */
  width: 100px;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 25px;
  font-family: 'Rancho';
}
.container .button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.container .button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
.container .button1 span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.2s;
}
.container .button1:hover span {
  padding-right: 20px;
}
.container .button1:hover span:after {
  opacity: 1;
  right: 10px;
}








/* ---------- About Sections ---------- */
section {position: relative;}
.section {
	padding: 0px 0;
	background: rgba(197, 196, 196, 0.8);
}
.section-padded {padding: 50px;}
@media(max-width:992px) {.section {padding: 130px 0;}}
@media (min-width: 992px) {.col-md-4{float: left;width: 33.33333333%;}}
.services {margin: 40px 0;}
.service {
  width: 100%;
  height: 320px;
  margin: 80px 0;
  text-align: center;
  border: 1px solid #484d4b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.service .icon-holder {
  position: relative;
  top: 100px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.service .heading {
  position: relative;
  top: 80px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.service .icon-holder > img.icon {width: 50px;}
.service:hover {border-color: #f8a01b;}
.service:hover .icon-holder {top: -65px;}
.service:hover .heading {top: -30px;}
.service .description {
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.service:hover .description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.cut-bottom {
	content: ' ';
	position: absolute;
	z-index: 1;
	bottom: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-bottom: 80px solid transparent;
	border-left: 30px solid white;
}

#page-2 h2,#page-2 h4{font-family: 'setofont';color: #5a6460e8;}
#page-2 p{font-family: 'setofont';color: #484d4b;}



/* ---------- photo ---------- */
figure.effect-honey {
  background: #daa661ce;
  max-width: auto;
}
figure.effect-honey img {
opacity: 1;
-webkit-transition: opacity 0.35s;
transition: opacity 0.35s;
}
figure.effect-honey:hover img {
opacity: 0.4;
}
figure.effect-honey figcaption::before {
position: absolute;
bottom: 0;
left: 9px;
width: 93.5%;
height: 8px;
background: rgb(231, 140, 54);
content: "";
-webkit-transform: translate3d(0, 10px, 0);
transform: translate3d(0, 10px, 0);
}
figure.effect-honey h2 {
position: absolute;
bottom: 0;
left: 0;
padding: 1em 1.5em;
width: 100%;
text-align: center;
-webkit-transform: translate3d(0, -30px, 0);
transform: translate3d(0, -30px, 0);
pointer-events: none;
font-family: "Caveat Brush";
color: rgb(255, 255, 255);
}
figure.effect-honey h2 i {
font-style: normal;
opacity: 0;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: translate3d(0, -30px, 0);
transform: translate3d(0, -30px, 0);
}
figure.effect-honey figcaption::before,
figure.effect-honey h2 {
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
}
figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
opacity: 1;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.tm-gallery-item {
margin: 0;
}
@media (max-width: 480px) {
  .tm-gallery-item {
    margin: 0;
  }}
































