body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}
p{
    font-size: 16px;
    line-height: 12px;
    background: url(123.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
   
}